@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Work+Sans:wght@400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }